.producto {
    display: grid;
    width: 300px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: #e42870;
    padding: 1rem;

    img {
        width: 100%;
        height: 100%;
    }

    &__texto {
        font-size: 1.1rem;
        margin: 1rem;
    }

    &__button {
        border: none;
        border-radius: 5px;
        background: #915c3e;
        color: #ecdbcd;
        font-size: 1rem;
        padding: 0.5rem;
        margin: 4rem;
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
        cursor: pointer;
    }

    &__button:hover {
        color: #915c3e;
        background-color: #ecdbcd;
        transition: 0.2s ease-out;
    }
}