.itemCart {
    display: flex;
    background-color: #ecdbcd;
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;

    img {
        width: 200px;
        margin-right: 1rem;
        margin: 1rem;
    }

    &__text {
        margin: 1rem auto;
        justify-content: center;
        font-size: 1.1rem;
    }

    &__button {
        text-decoration: none;
        border: none;
        border-radius: 5px;
        background: #915c3e;
        color: #ecdbcd;
        font-size: 1rem;
        padding: 0.5rem;
        margin: 1rem auto;
        cursor: pointer;
    }

    &__button:hover {
        color: #915c3e;
        background-color: #ecdbcd;
        transition: 0.2s ease-out;
    }
}