nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f3e6e7;

    img {
        width: 80px;
    }

    h1 {
        font-size: 1.1rem;
    }
    
    a {
        margin: 0.5rem;
        font-size: 1rem;
        text-decoration: none;
        color: #e42870;
    }
    a:hover {
        color: #763ca5;
        transition: 0.2s ease-out;
    }
}
